body {
    background-color: var(--cor-de-fundo);
    color: blueviolet;
    text-align: left;
}

.purple img {
    max-width: 200px;
    max-height: 150px;
    width: auto;
    height: auto;
}

.botao{ 
background-color: blanchedalmond;
font-size: 20px;
text-align: right; 
text-decoration: none;
border-radius: 50px;

}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: purple;
    padding: 1em;
}

form{
    border: 1px solid whitesmoke; 
    border-radius: 0.3em;
    padding: 0.3em;
}

form input, form button{
    font-size: 1.2em;
    border-radius: 0.2em;
    border: none;
    padding: 0.2em;

}

form button{
    cursor: pointer;
    background: none;
    color: whitesmoke;

}

form button:hover {
    background-color: whitesmoke;
    color:purple; 
}
